@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

#table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#table th{
  text-align: center;
  background-color: lightcoral;
  color: "#fff";
  border: 1px solid white;
  padding: 12px;
}
#table td{
    text-align: center;
  background-color: rgba(244, 240, 29, 0.269);
  color: "#fff";
  border: 2px solid white;
  padding: 12px;
}